* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-bg-color: #777;
  --blue-color: #1e9aff;
}
#mainContainer {
  font-family: "Alkatra", sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  #xoContainer {
    height: 302px;
    width: 302px;
    border: solid 1px var(--main-bg-color);
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.7;

    div {
      height: 100px;
      width: 100px;
      border: 1px solid var(--main-bg-color);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
    }
  }
  #newGameContainer {
    margin-left: 100px;
    width: 350px;
    button {
      border-radius: 10px;
    }
    input {
      height: 28px;
      width: 28px;
      margin-top: auto;
      margin-left: 20px;
      cursor: pointer;
    }
    p {
      margin: 0;
      margin-left: 10px;
    }
  }
  #playingStatusContainer {
    margin-left: 100px;
    margin-top: 10px;
    border: 1px solid var(--main-bg-color);
    padding: 10px 20px;
    width: 330px;
    border-radius: 10px;
    opacity: 0.7;
    height: 71px;

    h2 {
      font-size: 26px;
    }
  }
  #victoryNoticeContainer {
    margin-left: 100px;
    margin-top: 10px;
    border: 1px solid var(--main-bg-color);
    padding: 10px 20px;
    width: 330px;
    border-radius: 10px;
    opacity: 0.7;
    height: 71px;

    h2 {
      color: var(--blue-color);
      font-weight: bold;
      font-size: 26px;
    }
  }
  #myFooter {
    width: 100%;
    background-color: var(--blue-color);
    margin-top: auto;
    height: 100px;
    h2 {
      font-size: 26px;
      font-weight: bold;
    }
  }
}
@media (max-width: 929px) {
  #mainContainer {
    flex-direction: column;
    justify-content: center;
    max-height: calc(100vh - 50px);
    #xoContainer {
      margin-top: 35px;
      margin-left: 0;
    }
    #newGameContainer {
      margin-top: 30px;
      margin-left: 0;
      width: 302px;
    }
    #playingStatusContainer {
      margin-left: 0;
      width: 302px;
    }
    #victoryNoticeContainer {
      margin-left: 0;
      width: 302px;
    }
    #animationContainer {
      margin-left: 292px;
      margin-top: -175px;
    }
    #myFooter {
      height: 50px;
      h2 {
        font-size: 19px;
      }
    }
  }
}
.myHide {
  display: none;
}
